version: "3.9"

services:
  web_link_tree:
    build: 
      context: ./Web_LinkTree
    container_name: WebLinkTree
    ports:
      - "8001:8080"
    volumes:
      - ./Web_LinkTree:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

  wake_up_on_lan:
    build: 
      context: ./WOL_WebService
    container_name: WakeUpOnLan
    ports:
      - "8002:8080"
    volumes:
      - ./WOL_WebService:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    

  selenium_hub:
    # MODIFICA: Utilizziamo una versione statica invece di 'latest' per garantire
    # stabilità e prevedibilità nel tempo.
    image: selenium/hub:4.11.0-20230801
    container_name: selenium_hub
    ports:
      - "4442:4442"
      - "4443:4443"
      - "4444:4444" # Porta di accesso al Grid per il tuo scraper

  selenium_node:
    # OK: Questa immagine usa già una versione statica, è una buona pratica.
    image: selenium/node-chrome:114.0
    shm_size: 2g
    environment:
      - SE_EVENT_BUS_HOST=selenium_hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    depends_on:
      - selenium_hub


  musescore-scraper:
    build: 
      context: ./MusescoreScraper
    container_name: MuseScoreScraper
    ports:
      - "8003:8080"
    volumes:
      - ./MusescoreScraper:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    depends_on:
      - selenium_hub 
      - selenium_node
  # whisper-app:
  #   build:
  #     context: .
  #     dockerfile: dockerfile
  #   container_name: WOL-wb-app
  #   environment:
  #     - DEBIAN_FRONTEND=noninteractive
  #     - WHISPER_MODEL=medium
  #   ports:
  #     - "12345:12345"
  #     - "12346:12346"
  #   volumes:
  #     - .:/app
  #   restart: unless-stopped
  #   command: ["/start.sh"]
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: all
  #             capabilities: [gpu]
